<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
     <script src="app.js"></script>
  </head>
<body  ng-controller="LunchCheckController">
   <div  class="container">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="userInput"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>

         <span>Empty fields are not considered</span>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkTooMuch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <span ng-if="result" type="text" ng-style="{'color': result.style.color, 'border': result.style.border}" >{{result.message}}</span>
         </div>
   </div>


</body>
</html>
